/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .container h1 {
      font-size: 32px;
    }
    .lesson {
      width: 50%;
    }
    
    .lesson p {
      margin-bottom: 50px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    text-align: left;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .lesson {
    width: 100%;
  }
  
}